<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="ur_sockel" params="name parent_link xyz rpy">

    <!-- Neuer Link -->
    <link name="${name}_link">
      <visual>
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <geometry>
          <mesh filename="package://manipulator_description/meshes/ur_sockel.stl"/>
        </geometry>
        <material name="${name}_REGALCOLOR"/>
      </visual>

      <collision>
        <origin xyz="${xyz}" rpy="${rpy}"/>
        <geometry>
          <mesh filename="package://manipulator_description/meshes/ur_sockel.stl"/>
        </geometry>
      </collision>

    </link>

    <!-- Fixed Joint -->
    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child  link="${name}_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <material name="${name}_REGALCOLOR">
		  <color rgba="1 0.1686 0.6 1"/>
	  </material>

  </xacro:macro>

</robot>
