<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!-- robot name parameter -->
  <xacro:arg name="name" default="ur5e"/>

  <xacro:include filename="$(find manipulator_ur_moveit_config)/srdf/manipulator_macro.srdf.xacro"/>

  <xacro:manipulator_srdf/>

</robot>
